html{
    overflow: hidden;
    font-size: 62.5%;
}
body{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    overflow-x:hidden;
}
#header{
    margin-top:8rem;
}
.containers{
    width: 100%;
    height: 5rem;
    position: fixed;
    top:0rem;
}
nav{
    padding-left: 87%;
   }
nav ul li{
    float: left;
    text-align: center;
    list-style: none;
    margin: .5rem 1rem;
}
nav ul li a{
    display: block;
    text-align: center;
    color: rgb(50, 2, 2);
    text-decoration: none;
    font-size: 2.4rem;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: .3rem;
    background: #0b0004;
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#imagea{
    margin-right: 100px;
}
.a{
display:flex;
}
#ab1{
   font-size: 8rem; 
}
#ab2{
    font-size: 3rem;
    line-height: 160%;
}
#ab3{
    font-size: 3rem;
    line-height: 160%;
}
button{
    display: inline-block;
    font-size: 24px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #376ce6;
    border: none;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.button{
    padding-left: 12%;
}

